<nav class="navbar has-background-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
		<span class="navbar-item">
			<h1 class="title is-align-self-center has-text-light"> Task Manager </h1>
		</span>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="topbar" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <button class="button is-success modal-button" data-target="modal" aria-haspopup="true" (click)="activeAdd = true">
            <strong>Add task</strong>
          </button>
          <a class="button is-light" (click)="logout()">
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div [ngClass]="{'modal':true, 'is-active':activeAdd}">
  <div class="modal-background"></div>
	<div class="modal-card">
    <header class="modal-card-head has-background-success">
      <p class="modal-card-title has-text-light">Add Task</p>
      <button class="delete" aria-label="close" (click)="activeAdd = false"></button>
    </header>
    <section class="modal-card-body">
			<form #f="ngForm" (ngSubmit)="addTask(f)">
				<div class="field">
				  <label class="label">Title</label>
				  <div class="control">
				    <input id="title" name="title" class="input" type="text" placeholder="Title" ngModel>
				  </div>
				</div>
				<div class="field">
				  <label class="label">Description</label>
				  <div class="control">
				    <input id="description" name="description" class="input" type="text" placeholder="Description" ngModel>
				  </div>
				</div>
				<div class="field is-grouped">
					<div class="control">
					  <input type="submit" class="button is-success" value="Submit"/>
					</div>
					<div class="control">
					  <button class="button is-light" (click)="activeAdd = false">Cancel</button>
					</div>
				</div>
			</form>
    </section>
  </div>
</div>
